.containerHeader{
    width: 100%;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.containerHeader img{
    max-width: 100px;
}
.containerHeader ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.containerHeader .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}
.containerHeader .logo a{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FECA1B;
}